<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sua Inscrição foi efetuada com sucesso !</h1>


    <p>
      Para efetuar o pagamento da sua inscrição clique <a href="https://pagseguro.uol.com.br/checkout/v2/payment.html?code=A2A1F583CCCC5C8BB480CF9B458A1515"> <strong> aqui </strong></a>
    </p>

    <!-- <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
      <input type="hidden" name="code" value="A2A1F583CCCC5C8BB480CF9B458A1515" />
      <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar-cinza.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form> -->

    <h2>Seja grande... seja Titans!</h2>
  </body>
</html>
