<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="../assets/email_confirmacao.scss" charset="utf-8">
  </head>
  <body>
    <h1>Sua Inscrição foi efetuada com sucesso !</h1>

    <p>
      Para efetuar o pagamento da sua inscrição clique <a href="https://pagseguro.uol.com.br/checkout/v2/payment.html?code=A2A1F583CCCC5C8BB480CF9B458A1515"> <strong> aqui </strong></a>
    </p>

    <a href="https://goo.gl/maps/i9VF3VJUU6Q2"> Local do evento </a>

    <h2>Seja grande... seja Titans!</h2>
  </body>
</html>
