<header class=" cabecalho">

    <h1 class="titulo">Tryout 2016</h1>
    <h1 class="slogan" > Seja grande... seja Titans... </h1>
    <img src="/img/logo_time.png" alt="belem titans logo" />


</header>
