<footer class="rodape">
  <ul>
    <li><a href="https://www.facebook.com/belemtitansfa/" class="facebook">facebook</a></li>
    <li><a href="https://www.instagram.com/belemtitans/" class="instagram">LinkedIn</a></li>
    <li><a href="https://www.twitter.com/titansfaoficial" class="twitter">Twitter</a></li>
  </ul>
</footer>
