
<div class="container">


  <%= render 'cabecalho' %>

    <p id="notice" class="mensagem-sucesso"><strong><%= notice %></strong></p>


    <%= link_to 'Voltar a página inicial', action: :index%>

  <%= render 'rodape' %>

</div>
